* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  
  .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .logo-container {
    align-self: center;
    background-color: red;
    width: 200px;
    height: 50px;
  }
  
  .logo-container center {
    width: 195px;
    height: 60px;
    padding-top: 15px;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .nav li {
    margin-bottom: 10px;
  }
  
  .nav a {
    color: #2b2b2b;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    line-height: 80px;
    display: block;
  }
  
  .nav a:hover {
    color: #2b2bb2;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  
  .user-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background: whitesmoke;
  }
  
  .user-container span {
    font-size: 18px;
  }
  
  .user-container img, .user-container span {
    margin: 0px 0px 5px 5px;

  }